        title {
            font-family: Impact;
        }
        .italic {
            font-style: italic;
        }
        .font-normal {
            font-weight: normal;
        }
        .background-image {
            background-image: url('Images/background.jpg');
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-image: center center fixed;
        }
        .center-align {
            text-align: center;
        }
        .line-height {
            line-height: 10px;
        }
        .top-padding {
            padding-top: 20px;
        }
        h1 {
            color: white;
            font-size: 70px; 
            font-family: 'Tangerine', cursive;  
        }
        section {
            padding: 1px;
            margin: 25px;
            background: rgba(255,255,255,0.25)
        }
        .white-text {
            color: white;
        }